.header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.icon {
  background-image: url(https://yastatic.net/s3/home-static/_/H/7/oqWdHWG-rO3xQ8T14PjJ_DUUc.svg);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 8px;
}

.all {
  border: none;
  padding: 0;
  background-color: white;
  cursor: pointer;
  transition: color .15s ease-out;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-left: 33px;
  display: flex;
  align-items: center;

  & > svg {
    margin-left: 4px;
    transform: translateY(2px);
  }

  &:hover {
    color: #c00;
  }
}
